.column{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
}
.gap{
    gap: 5px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    width: 200px;
    
}
.logout{
    margin-top: 500px;
}